<web-app
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
        http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd
        http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd "
        id="WebApp_ID" version="3.0">

    <!-- primeiro -->
    <servlet>
        <servlet-name>TodoServlet</servlet-name>
        <servlet-class>TodoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TodoServlet</servlet-name>
        <url-pattern>/todos/*</url-pattern>
    </servlet-mapping>
    <!-- segundo -->
    <servlet>
        <servlet-name>TodosServlet</servlet-name>
        <servlet-class>TodosServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TodosServlet</servlet-name>
        <url-pattern>/todos</url-pattern>
    </servlet-mapping>

</web-app>